/** MATERIAL COLORS **/
body, html {
  height: 100%; }

body {
  background-color: #fafafa; }

* {
  margin: 0;
  box-sizing: border-box; }

/** HEADER **/
body[data-color="red"] header {
  background-color: #f44336; }
  body[data-color="red"] header a {
    color: #ffffff; }
    body[data-color="red"] header a:hover {
      background-color: transparent; }
  body[data-color="red"] header a[data-role="button"]:before {
    background: #c62828; }
  body[data-color="red"] header a[data-role="button"]:hover:before {
    transform: scale(1); }
  body[data-color="red"] header .badge {
    background-color: #ffeb3b;
    color: rgba(0, 0, 0, 0.54); }

body[data-color="blue"] header {
  background-color: #2196f3; }
  body[data-color="blue"] header a {
    color: #ffffff; }
    body[data-color="blue"] header a:hover {
      background-color: transparent; }
  body[data-color="blue"] header a[data-role="button"]:before {
    background: #1565c0; }
  body[data-color="blue"] header a[data-role="button"]:hover:before {
    transform: scale(1); }
  body[data-color="blue"] header .badge {
    background-color: #f44336; }

body[data-color="pink"] header {
  background-color: #e91e63; }
  body[data-color="pink"] header a {
    color: #ffffff; }
    body[data-color="pink"] header a:hover {
      background-color: transparent; }
  body[data-color="pink"] header a[data-role="button"]:before {
    background: #ad1457; }
  body[data-color="pink"] header a[data-role="button"]:hover:before {
    transform: scale(1); }
  body[data-color="pink"] header .badge {
    background-color: #ffc107;
    color: rgba(0, 0, 0, 0.54); }

header {
  width: 100%;
  height: 6rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: all 200ms ease 0s; }
  header .navbar-brand {
    padding: 0 1.5rem;
    height: 6rem;
    line-height: 6rem; }
    header .navbar-brand:hover {
      background-color: transparent !important; }
  header nav {
    height: 6rem;
    margin: 0; }
    header nav .navbar-right {
      margin-right: 0; }
    header nav a {
      text-decoration: none;
      transition: all 200ms ease 0s;
      min-width: 5rem;
      text-align: center;
      position: relative; }
    header nav a[data-role="button"]:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      transition: transform 0.3s;
      transform: scale(0);
      border-radius: 0.4rem; }
  header i.fa {
    font-size: 2rem; }
  header .badge {
    position: absolute;
    top: -0.2rem;
    right: 0.5rem; }

.navbar-nav > li > a {
  padding: 0 1.5rem;
  margin: 1rem 0.5rem;
  line-height: 4rem;
  color: #2196F3; }

/** SIDENAV **/
#sidenav {
  position: fixed;
  top: 6rem;
  left: 0;
  height: calc(100% - 6rem);
  width: 25rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  transition: all 200ms ease 0s;
  overflow: hidden; }
  #sidenav .profile-wrapper {
    position: relative;
    height: 14rem;
    width: 100%;
    max-width: 25rem;
    overflow: hidden;
    padding: 1.5rem;
    background-color: #1565c0; }
  #sidenav .profile-menu {
    transition: height 0.3s ease-in; }
    #sidenav .profile-menu .profile-photo {
      border-radius: 10rem;
      width: 5.6rem;
      height: 5.6rem;
      display: block; }
      #sidenav .profile-menu .profile-photo img {
        border: solid 0.4rem rgba(255, 255, 255, 0.7);
        border-radius: 10rem;
        overflow: hidden; }
    #sidenav .profile-menu .profile-name {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1rem 1.5rem;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-size: 1.2rem;
      cursor: pointer;
      text-decoration: none; }
      #sidenav .profile-menu .profile-name i {
        float: right;
        transition: transform 300ms ease 100ms; }
  #sidenav .main-menu-wrapper {
    width: 32rem;
    height: 100%;
    overflow-y: auto;
    background-color: #ffffff; }
  #sidenav ul {
    transition: max-height 300ms ease-in;
    overflow: hidden; }
    #sidenav ul li {
      display: block;
      border-bottom: solid 0.2rem rgba(0, 0, 0, 0.12);
      max-width: 25rem; }
      #sidenav ul li a {
        color: #4c4c4c;
        display: block;
        padding: 1.5rem 1.5rem;
        transition: all 0.3s ease-in;
        text-decoration: none; }
        #sidenav ul li a:hover {
          background-color: #f4f4f4;
          color: rgba(0, 0, 0, 0.87); }
        #sidenav ul li a i {
          margin-right: 0.8rem; }
      #sidenav ul li .active {
        background-color: #f4f4f4;
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold; }
    #sidenav ul .submenu ul {
      max-height: 0;
      background-color: #f4f4f4; }
      #sidenav ul .submenu ul li:first-of-type {
        border-top: solid 0.2rem rgba(0, 0, 0, 0.12); }
      #sidenav ul .submenu ul li:last-of-type {
        border-bottom: none; }
      #sidenav ul .submenu ul li a {
        font-weight: bold;
        padding-left: 4rem;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.54); }
        #sidenav ul .submenu ul li a:hover {
          color: rgba(0, 0, 0, 0.87); }
    #sidenav ul .submenu i.pull-right {
      transition: transform 300ms ease 100ms;
      transform: rotate(0deg); }
    #sidenav ul .submenu.open ul {
      max-height: 30rem; }
    #sidenav ul .submenu.open i.pull-right {
      transform: rotate(180deg); }

#sidenav[data-toggle=true] ul#profile-menu {
  max-height: 30rem; }
#sidenav[data-toggle=true] .profile-name i {
  transform: rotate(180deg); }

#sidenav[data-toggle=false] ul#profile-menu {
  max-height: 0; }
#sidenav[data-toggle=false] .profile-name i {
  transform: rotate(0deg); }

/** CONTENT **/
#main {
  width: 100%;
  height: 100%; }

#content {
  padding: 8rem 0 3rem 25rem; }

/** CHARTS **/
.chart-cyan {
  background-color: #00bcd4; }
  .chart-cyan:before {
    background-color: #00838f; }

.chart-red {
  background-color: #f44336; }
  .chart-red:before {
    background-color: #c62828; }

.chart-amber {
  background-color: #ffc107; }
  .chart-amber:before {
    background-color: #ff8f00; }

.chart-green {
  background-color: #4caf50; }
  .chart-green:before {
    background-color: #2e7d32; }

.chart-purple {
  background-color: #9c27b0; }
  .chart-purple:before {
    background-color: #6a1b9a; }

.chart-deep-purple {
  background-color: #673ab7; }
  .chart-deep-purple:before {
    background-color: #4527a0; }

.chart-pink {
  background-color: #e91e63; }
  .chart-pink:before {
    background-color: #ad1457; }

.chart-sm-item {
  margin-bottom: 3rem;
  position: relative;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  min-height: 2.5rem; }
  .chart-sm-item .clearfix {
    position: relative; }
  .chart-sm-item .chart-tooltip {
    background-color: #ffffff;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.2rem;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3); }
  .chart-sm-item:before {
    content: '';
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: width 300ms ease-in; }
  .chart-sm-item:hover:before {
    width: 100%; }
  .chart-sm-item .chart-bars {
    float: left;
    padding: 1.5rem;
    width: 50%; }
    .chart-sm-item .chart-bars canvas {
      width: 100%;
      height: 5rem;
      vertical-align: top; }
  .chart-sm-item .chart-desc {
    color: #ffffff;
    float: left;
    width: 50%;
    text-align: center;
    padding: 1.6rem 1.2rem; }
    .chart-sm-item .chart-desc * {
      margin: 0; }
    .chart-sm-item .chart-desc h2 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 2.2rem; }
    .chart-sm-item .chart-desc span {
      font-size: 1.2rem; }

.chart-large-item {
  margin-bottom: 3rem;
  position: relative;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  min-height: 5rem; }
  .chart-large-item .pie-chart {
    float: left;
    padding: 1.5rem;
    width: 100%;
    min-height: 20rem;
    position: relative; }
    .chart-large-item .pie-chart canvas {
      width: 100%;
      min-width: 20rem;
      min-height: 20rem;
      height: 15rem;
      vertical-align: top; }
    .chart-large-item .pie-chart h2 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 3rem;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 -50% 0 0;
      transform: translate(-50%, -50%);
      color: #ffffff; }
  .chart-large-item .chart-desc {
    color: rgba(0, 0, 0, 0.54);
    float: left;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 1.6rem 1.2rem; }
    .chart-large-item .chart-desc * {
      margin: 0; }
    .chart-large-item .chart-desc span {
      font-size: 2.2rem; }

.card-item {
  margin-bottom: 3rem;
  position: relative;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  min-height: 5rem;
  background-color: #ffffff; }
  .card-item .card-title {
    background-color: #f4f4f4;
    padding: 2rem 3rem;
    position: relative; }
    .card-item .card-title h2 {
      margin: 0;
      font-size: 1.8rem; }
    .card-item .card-title h3 {
      margin: 1rem 0 0 0;
      font-size: 1.4rem;
      color: rgba(0, 0, 0, 0.54); }
    .card-item .card-title .float-action-button {
      position: absolute;
      width: 5rem;
      height: 5rem;
      border-radius: 10rem;
      text-align: center;
      top: 100%;
      right: 0;
      transform: translate(-50%, -50%);
      line-height: 5rem;
      color: #ffffff;
      cursor: pointer;
      z-index: 12;
      transition: box-shadow 300ms ease 0s;
      transition: background-color 300ms ease 0s; }
      .card-item .card-title .float-action-button:hover {
        box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.3); }
    .card-item .card-title .fab-pink {
      background-color: #e91e63; }
      .card-item .card-title .fab-pink:hover {
        background-color: #ad1457; }
    .card-item .card-title .fab-cyan {
      background-color: #00bcd4; }
      .card-item .card-title .fab-cyan:hover {
        background-color: #00838f; }
    .card-item .card-title .fab-green {
      background-color: #4caf50; }
      .card-item .card-title .fab-green:hover {
        background-color: #2e7d32; }
    .card-item .card-title .fab-red {
      background-color: #f44336; }
      .card-item .card-title .fab-red:hover {
        background-color: #c62828; }
    .card-item .card-title .fab-lime {
      background-color: #cddc39; }
      .card-item .card-title .fab-lime:hover {
        background-color: #9e9d24; }
    .card-item .card-title .fab-yellow {
      background-color: #ffeb3b; }
      .card-item .card-title .fab-yellow:hover {
        background-color: #f9a825; }
  .card-item .card-description {
    padding: 1.5rem 0; }
    .card-item .card-description .list-view {
      position: relative; }
      .card-item .card-description .list-view .list-item {
        text-decoration: none;
        padding: 1rem 2rem;
        position: relative;
        display: block;
        overflow: hidden;
        transition: background-color 300ms ease 0s;
        cursor: pointer; }
        .card-item .card-description .list-view .list-item:hover {
          background-color: #e0f7fa; }
        .card-item .card-description .list-view .list-item img.li-small {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 10rem;
          margin-right: 1rem; }
        .card-item .card-description .list-view .list-item .list-content {
          display: block;
          width: auto; }
          .card-item .card-description .list-view .list-item .list-content .li-title {
            font-weight: bold;
            display: block;
            font-size: 1.3rem;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgba(0, 0, 0, 0.87);
            line-height: 1.4rem; }
          .card-item .card-description .list-view .list-item .list-content .li-description {
            font-size: 1.2rem;
            width: 100%;
            color: rgba(0, 0, 0, 0.54);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
  .card-item .card-padding {
    padding: 1.5rem 2rem; }
  .card-item .card-footer {
    text-align: center;
    width: 100%;
    border-top: solid 0.1rem rgba(0, 0, 0, 0.12);
    padding: 0.5rem; }
    .card-item .card-footer a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.54); }
      .card-item .card-footer a:hover {
        color: rgba(0, 0, 0, 0.87); }

.card-cyan .card-title {
  background-color: #00bcd4;
  color: #ffffff; }
  .card-cyan .card-title h3 {
    color: #ffffff; }

.card-green .card-title {
  background-color: #4caf50;
  color: #ffffff; }
  .card-green .card-title h3 {
    color: #ffffff; }

.card-indigo .card-title {
  background-color: #3f51b5;
  color: #ffffff; }
  .card-indigo .card-title h3 {
    color: #ffffff; }

.card-deep-orange .card-title {
  background-color: #ff5722;
  color: #ffffff; }
  .card-deep-orange .card-title h3 {
    color: #ffffff; }

.card-amber .card-title {
  background-color: #ffc107;
  color: #ffffff; }
  .card-amber .card-title h3 {
    color: #ffffff; }

.card-lime .card-title {
  background-color: #cddc39;
  color: #ffffff; }
  .card-lime .card-title h3 {
    color: #ffffff; }

.simple-card {
  padding: 2rem 3rem;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  transition: all 300ms ease 0s; }
  .simple-card p {
    margin: 0; }
  .simple-card .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.4rem;
    z-index: 12;
    color: #ffffff;
    opacity: 0.7;
    font-size: 1.2rem;
    z-index: 12;
    color: #ffffff; }
    .simple-card .close:hover {
      opacity: 1; }

.sc-cyan {
  background-color: #00bcd4;
  color: #ffffff; }

.sc-red {
  background-color: #f44336;
  color: #ffffff; }

.sc-amber {
  background-color: #ffc107;
  color: #ffffff; }

.sc-pink {
  background-color: #e91e63;
  color: #ffffff; }

.sc-lime {
  background-color: #cddc39;
  color: #ffffff; }

/** COMMON CLASSES **/
.closed {
  height: 0;
  margin: 0;
  padding: 0; }

.shake {
  animation: shake .4s;
  animation-iteration-count: 3; }

@keyframes shake {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(1rem); }
  50% {
    transform: translateX(-1rem); }
  75% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0); } }
.help-block {
  font-size: 1.1rem;
  margin: 0.5rem 0 1rem 0;
  display: block; }

.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.26);
  box-shadow: none;
  padding: 0.6rem 0;
  position: relative;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .form-control:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 12;
    width: 10rem;
    height: 2rem;
    background-color: #f44336; }
  .form-control:active, .form-control:focus {
    box-shadow: none; }

.form-group .line {
  position: relative;
  display: inline-block;
  width: 100%; }
  .form-group .line:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 12;
    width: 0%;
    height: 0.2rem;
    background-color: #2196f3;
    transition: width 300ms ease 0s; }
.form-group .select:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 1.5rem 1.5rem;
  border-color: transparent transparent rgba(0, 0, 0, 0.54) transparent;
  position: absolute;
  right: 0;
  bottom: 0.8rem;
  z-index: 5; }
.form-group label {
  font-size: 1.4rem;
  width: 100%; }

.form-group .line.toggled:after {
  width: 100%; }

.form-group.has-success .line .form-control {
  border-color: #4caf50;
  box-shadow: none;
  border-width: 0 0 0.1rem 0; }
.form-group.has-success .line:after {
  background-color: #4caf50; }
.form-group.has-success .input-group-addon {
  color: #4caf50; }
.form-group.has-success .help-block {
  color: #4caf50; }

.form-group.has-error .line .form-control {
  border-color: #f44336;
  box-shadow: none;
  border-width: 0 0 0.1rem 0; }
.form-group.has-error .line:after {
  background-color: #f44336; }
.form-group.has-error .input-group-addon {
  color: #f44336; }
.form-group.has-error .help-block {
  color: #f44336; }

.form-group.has-warning .line .form-control {
  border-color: #ffc107;
  box-shadow: none;
  border-width: 0 0 0.1rem 0; }
.form-group.has-warning .line:after {
  background-color: #ffc107; }
.form-group.has-warning .input-group-addon {
  color: #ffc107; }
.form-group.has-warning .help-block {
  color: #ffc107; }

textarea {
  resize: none; }

.input-group .input-group-addon {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  font-size: 2.3rem; }
  .input-group .input-group-addon:first-child {
    padding: 0 1rem 0 0; }
  .input-group .input-group-addon:last-child {
    padding: 0 0 0 1rem; }

/*# sourceMappingURL=custom.css.map */
