<div class="material-alert-overlay"></div>
<div class="material-alert open">
    <div class="material-alert-success">
        <span class="ma-tick line"></span>
        <span class="ma-tick-long line"></span>
    </div>
    <h2>Good job guy!</h2>
    <p>
        You've completed your work in a time record!
    </p>
    <button class="btn btn-blue">Ok</button>
</div>

<!--<div class="material-alert open">
    <div class="material-alert-warning bigger">
        <span class="ma-warning-long line"></span>
        <span class="ma-warning-dot line"></span>
    </div>
    <h2>Are you sure?</h2>
    <p>
        You will not be able to undo this operation!
    </p>
    <button class="btn btn-default">Cancel</button>
    <button class="btn btn-red">Yes, delete it</button>
</div>-->