<ol class="breadcrumb">
    <li>
        <a href="#"><i class="fa fa-home"></i>Home</a>
    </li>
    <li>
        <a href="#">Demo</a>
    </li>
    <li class="active">
        Samples
    </li>
</ol>