<div class="row">
    <div class="col-md-12">
        <div class="card-item">
            <div class="card-title">
                <h2>
                    <img src="{{ asset('bundles/backend/img/user-1.jpg') }}" />
                    Natalie Smith
                </h2>

                <div class="card-options">
                    <ul class="options list-unstyled">
                        <li>
                            <a title="Delete thread" href="">
                                <i class="fa fa-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-description card-chat">
                <ul class="list-view">
                    <li class="list-item">
                        <img class="list-avatar pull-left" src="{{ asset('bundles/backend/img/user-1.jpg') }}" />
                        <div class="media-body">
                            <div class="list-bubble">
                               <p>
                                   Quisque consequat arcu eget odio cursus, ut tempor arcu vestibulum. Etiam ex arcu, porta a urna non, lacinia pellentesque orci. Proin semper sagittis erat, eget condimentum sapien viverra et. Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.
                               </p>
                            </div>
                            <small class="bubble-date">
                                <i class="fa fa-clock-o"></i>
                                08/05/2015 - 19:27
                            </small>
                        </div>
                    </li>

                    <li class="right list-item">
                        <img class="list-avatar pull-right" src="{{ asset('bundles/backend/img/user-2.jpg') }}" />
                        <div class="media-body">
                            <div class="list-bubble">
                                <p>
                                    Quisque consequat arcu eget odio cursus, ut tempor arcu vestibulum.
                                </p>
                            </div>
                            <small class="bubble-date">
                                <i class="fa fa-clock-o"></i>
                                08/05/2015 - 19:30
                            </small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>