<div class="row">
    <div class="col-md-12">
        <div class="card-item">
            <div class="card-title">
                <h2>Paginator</h2>
                <h3>Sample paginator</h3>
            </div>

            <div class="card-description card-padding">
                <ul class="material-paginator">
                    <li class="active">
                        <a href="#"><small>1</small></a>
                    </li>
                    <li class="">
                        <a href="#"><small>2</small></a>
                    </li>
                    <li class="">
                        <a href="#"><small>3</small></a>
                    </li>
                    <li class="">
                        <a href="#"><small>4</small></a>
                    </li>
                    <li class="">
                        <a href="#"><small>5</small></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>